<!-- MAIN INICIO -->
<div class="container text-center mt-5">
  <h1 class="fs-1 fw-bold">ORDENAR</h1>
  <div>
    <h2 class="fs-2 fw-bold text-start subt">CARRITO DE COMPRAS</h2>

    <!-- Si el carrito está vacío -->
    <div class="bg-light" *ngIf="carrito.length === 0">
      <img
        class="logo m-3"
        src="https://www.pngmart.com/files/23/Kirby-Face-PNG-Transparent.png"
      />
      <h1 class="fs-3 text-danger">
        Su carrito de compras está vacío, por favor agregue artículos a su orden
      </h1>
    </div>

    <!-- Si hay productos en el carrito -->
    <div class="bg-light" *ngIf="carrito.length > 0">
      <div class="overflow-auto">
        <table class="table tabla">
          <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">Producto</th>
              <th scope="col">Precio regular</th>
              <th scope="col">Descuento</th>
              <th scope="col">Precio descuento</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Importe</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <!-- Ejemplo de un producto -->
            <tr *ngFor="let detalle of carrito" class="text-center">
              <th scope="row">
                <img
                  class="img-cart"
                  src="http://68.211.176.134:81/uploads/{{
                    detalle.producto.id
                  }}.png"
                  alt=""
                  (error)="imgError($event)"
                />
              </th>
              <td>{{ detalle.producto.nombre }}</td>
              <td>S/{{ detalle.producto.precio | number : "1.2-2" }}</td>
              <td>{{ detalle.producto.descuento }}%</td>
              <td class="fw-bold">
                S/.{{
                  calcularPrecioFinal(detalle.producto) | number : "1.2-2"
                }}
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <input
                    [(ngModel)]="detalle.cantidad"
                    name="cantidad-{{ detalle.producto.id }}"
                    class="text-center input-number-custom fw-bold"
                    type="number"
                    [min]="1"
                    [max]="detalle.producto.stock"
                  />
                  <button
                    (click)="
                      editarCantidad(detalle.producto.id, detalle.cantidad)
                    "
                    class="btn btn-warning ms-2"
                  >
                    Editar
                  </button>
                </div>
              </td>
              <td class="fw-bold">
                S/.{{ calcularImporte(detalle) | number : "1.2-2" }}
              </td>
              <td>
                <button
                  class="btn btn-danger"
                  (click)="eliminarProducto(detalle.producto.id)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="text-end contenedor-pago">
        <div class="overflow-auto">
          <table class="table tabla tabla-dir">
            <thead>
              <tr class="text-center">
                <th scope="col">Dirección de envío</th>
                <th scope="col">Cantidad de artículos</th>
                <th scope="col">Total</th>
                <th scope="col">Procesar compra</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <th>
                  <div class="d-flex justify-content-center">
                    <form action="editarPedidoAddress" method="post">
                      <input
                        name="address"
                        class="text-center input-dic-custom fw-bold"
                        type="text"
                        [(ngModel)]="direccion"
                        placeholder="Ingrese dirección de envío..."
                        required
                      />
                    </form>
                  </div>
                </th>
                <th>{{ carrito.length }}</th>
                <td class="fw-bold">
                  S/.{{ calcularTotal() | number : "1.2-2" }}
                </td>
                <td>
                  <button
                    [disabled]="!logeado"
                    class="btn btn-success"
                    (click)="procesarCompra()"
                  >
                    Procesar compra
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Si no ha iniciado sesión -->
      <div *ngIf="!logeado" class="alert alert-info text-center" role="alert">
        Debe
        <a class="alert-link" routerLink="/inicio/login">Iniciar Sesión</a> para
        poder procesar su orden.
      </div>
    </div>
  </div>
</div>
<!-- MAIN FIN -->
<app-lista-producto
  [titulo]="titulo"
  [productos]="productosDestacados"
></app-lista-producto>
