<!-- MAIN INICIO -->
<div class="container text-center mt-5">
  <h1 class="fs-1 fw-bold">MENÚ</h1>
  <div class="d-flex overflow-auto mt-3 mb-3 categorias">
    <!-- Botón de "Todo" -->
    <a
      class="btn btn-custom mb-3 me-2 categoria fw-bold"
      [routerLink]="'/inicio/productos'"
      [ngClass]="{ active: !categoriaSeleccionada }"
    >
      Todo
    </a>

    <!-- Botones de categorías -->
    <a
      *ngFor="let categoria of categorias"
      class="btn btn-custom mb-3 me-2 categoria fw-bold"
      [routerLink]="'/inicio/productos/categoria/' + categoria.id"
      [ngClass]="{ active: categoriaSeleccionada?.id === categoria.id }"
    >
      {{ categoria.nombre }}
    </a>
  </div>
</div>
<!-- MAIN FIN -->
<app-lista-producto
  [titulo]="titulo"
  [productos]="productos"
></app-lista-producto>
